<!DOCTYPE html>
<html>
<head>
    <title>Upload Video</title>
</head>
<body>
    <h2>Upload a Video</h2>
    <form
     method="post" enctype="multipart/form-data">
     <label for="video">Select a video:</label>
        <input type="file" name="video" accept="video/*" required><br>
        <br><br>
        <button type="submit">Upload</button>
    </form>
    <p><a href="/">Back to Home</a></p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>